body {
  position: relative;
  min-width: 768px;
  width: 1200px;
  margin: auto;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.index-page {
  text-align: center;
}
.background-index {
  background: #2a3e45;
  background-image: url("../img/intro.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.background-decoration {
  min-height: 508px;
  background-image: url("../img/background-decoration.png");
  background-position: 0 451px;
  background-repeat: no-repeat;
}

.hotels-page .main-content {
  background-color: #2a3e45;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 -56px;
  background-repeat: no-repeat;
}

.site-navigation,
.features-list,
.features-sub-list,
.footer-social ul,
.selections-form ul,
.sorting li,
.result-item,
.sorting,
.selection-results,
.stars {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header,
.main-footer {
  text-align: center;
}

.site-navigation,
.search-hotels,
.main-footer,
.modal-search {
  background-color: #ffffff;
}

.features-description,
.footer-copyright,
.modal-search {
  line-height: 26px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.main-navigation {
  width: 1200px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: flex-wrap;
  -ms-flex: flex-wrap;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-right: 72px;
  padding-bottom: 16px;
  padding-left: 72px;
  line-height: 26px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-navigation li {
  width: 240px;
}

.site-navigation a {
  font-weight: 700;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}

.info,
.media {
  text-align: left;
}

.map-state {
  margin-left: auto;
  text-align: right;
}

.hotels {
  text-align: right;
}

.button {
  display: inline-block;
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.features-big-title {
  margin-bottom: 27px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.intro {
  width: 576px;
  padding-top: 43px;
  padding-right: 313px;
  padding-bottom: 37px;
  padding-left: 312px;
  background-color: #ffffff;
}

.features {
  background-color: #eeeeee;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  background-color: #ffffff;
}

.item-list {
  width: 400px;
  padding-top: 26px;
  padding-right: 67px;
  padding-bottom: 45px;
  padding-left: 67px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item-list h3,
.item-sub-list h4 {
  margin-right: 55px;
  margin-bottom: 24px;
  margin-left: 55px;
  font-size: 21px;
  color: #000000;
}

.item-list p {
  margin-top: 21px;
}

.real-city-items {
  width: 1200px;
  padding: 0;
}

.real-city-items li {
  position: relative;
}

.real-city,
.devils-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 0;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.real-city .features-title,
.devils-bridge .features-title {
  color: #ffffff;
}

.real-city img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.real-city .container,
.devils-bridge .container {
  width: 400px;
  padding-top: 26px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  background-color: #81b3d2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.devils-bridge .container {
  padding-top: 25px;
  padding-bottom: 41px;
}

.item-sub-list {
  width: 400px;
  padding-top: 133px;
  padding-right: 56px;
  padding-bottom: 68px;
  padding-left: 56px;
}

.housing::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 158px;
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-hotels {
  padding-top: 25px;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-info {
  line-height: 24px;
}

.search-hotels-button {
  width: 568px;
  margin-top: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.map {
  position: relative;
}

.map-container {
  min-height: 593px;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-bottom: 0;
}

.map iframe {
  position: relative;
  z-index: 1;
  border: none;
  vertical-align: bottom;
}

.map img {
  vertical-align: bottom;
}

.search-form label {
  text-align: left;
}

.arrival-date,
.departure-date {
  padding-right: 35px;
}

.search-form input {
  font: inherit;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.search-form input:hover,
.search-form input:focus {
  background-color: #ebebeb;
}

.search-form input:active {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-hotels-button,
.search-hotels-button-get,
.footer-tag {
  font-size: 21px;
  line-height: 26px;
}

.search-hotels-button,
.reserve-button {
  background-color: #766357;
  cursor: pointer;
}

.search-hotels-button:hover,
.search-hotels-button:focus,
.reserve-button:hover,
.reserve-button:focus {
  background-color: #604e43;
}

.search-hotels-button:active,
.reserve-button:active {
  color: #928a85;
  background-color: #503e33;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
  }

 	50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
  }

 	50% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-search {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -284px;
  z-index: 2;
  width: 568px;
  -webkit-box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal-close {
  display: none;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 458px;
  margin: 55px;
}

.search-form > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 29px;
}

.search-form .date-field-out {
  margin-bottom: 30px;
}

.search-form > div:last-child {
  margin-bottom: 0;
}

.search-form label {
  font-weight: 700;
  color: #000000;
}

.search-form input {
  height: 38px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.search-form input::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

.search-form input::-webkit-input-placeholder {
  color: #000000;
}

.search-form input:-ms-input-placeholder {
  color: #000000;
}

.search-form input::placeholder {
  color: #000000;
}

.price-controls input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.price-controls input::-webkit-input-placeholder {
  color: #ffffff;
}

.price-controls input:-ms-input-placeholder {
  color: #ffffff;
}

.price-controls input::placeholder {
  color: #ffffff;
}

.date-field {
  width: 458px;
}

.number-field div {
  font-size: 0;
}

.number-field-adults {
  width: 226px;
  font-size: 14px;
}

.number-field-children {
  width: 179px;
  font-size: 14px;
}

.search-item-date {
  width: 346px;
  padding-right: 43px;
  padding-left: 10px;
}

.calendar {
  position: relative;
}

.calendar-button {
  position: absolute;
  top: 7px;
  left: 310px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.calendar-button:hover path,
.calendar-button:focus path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.change-value-button {
  width: 38px;
  height: 38px;
  font-size: 24px;
  vertical-align: top;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

.change-value-button:hover,
.change-value-button:focus {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.change-value-button:active {
  color: #81b3d2;
  background-color: #f2f2f2;
  border: none;
}

.number-field .search-item-number {
  width: 38px;
  font-size: 14px;
  text-align: center;
}

.number-field input[type="number"] {
  -moz-appearance: textfield;
}

.number-field input::-webkit-outer-spin-button,
.number-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.search-hotels-button-get {
  width: 458px;
  margin-top: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}

.selections {
  width: 1200px;
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 72px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.selections-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selections-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.selections-form .infrastructure {
  width: 240px;
}

.selections-form .hotels-type {
  width: 240px;
  padding-left: 14px;
}

.selections-form .cost {
  width: 330px;
  margin-left: auto;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.selections-form legend {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 16px;
}

.select-option {
  position: relative;
}

.select-option:not(:last-child) {
  padding-bottom: 25px;
}

.infrastructure .select-item {
  padding-left: 40px;
  cursor: pointer;
}

.hotels-type .select-item {
  padding-left: 42px;
  cursor: pointer;
}

input[type="checkbox"] + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:focus + .checkbox-indicator::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 23px;
  background: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

input[type="checkbox"]:disabled + .checkbox-indicator::before {
  opacity: 0.3;
}

.selections .filter-range-title {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.select-button {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 85px;
  padding-top: 6px;
  padding-right: 34px;
  padding-bottom: 5px;
  padding-left: 34px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.select-button:hover,
.select-button:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.select-button:active {
  color: rgba(0, 0, 0, 0.3)
}

.results {
  background-color: #fefefe;
}

.result-header {
  width: 1200px;
  padding-top: 20px;
  padding-right: 72px;
  padding-bottom: 17px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sorting-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 240px;
}

.found {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-by,
.sorting-alphabet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.sorting-by {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 288px;
  padding-right: 11px;
  padding-left: 39px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sorting-by-item {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-item:hover,
.sorting-by-item:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-by-item:active {
  color: #000000;
  border: none;
}

.sorting-by-item-current,
.sorting-by-item-current:hover,
.sorting-by-item-current:focus,
.sorting-by-item-current:active {
  color: #81b3d2;
  border: none;
}

.sorting-alphabet {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 35px;
  margin-left: auto;
}

.sorting-alphabet-item:hover path,
.sorting-alphabet-item:focus path {
  fill: rgb(35, 31, 32);
}

.sorting-alphabet-item:active path {
  fill: #81b3d2;
}

.sorting-alphabet-item-current:hover path,
.sorting-alphabet-item-current:focus path,
.sorting-alphabet-item-current:active path {
  fill: #81b3d2;
}

.selection-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 72px;
  padding-left: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 528px;
}

.result-item .preview-picture {
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.result-item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 258px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hotel-title {
  margin-top: 0;
  margin-bottom: 7px;
}

.hotel-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #000000;
  opacity: 0.3;
}

.fact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fact-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fact-item div:first-child {
  margin-right: 6px;
}

.more-button,
.reserve-button {
  margin-top: 14px;
  padding: 3px 17px;
}

.valuation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 240px;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars li {
  width: 18px;
  height: 17px;
  margin-left: 5px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.rating {
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.index-page .main-footer {
  z-index: 1;
  position: relative;
  margin-top: -120px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 25px;
  padding-right: 72px;
  padding-bottom: 26px;
  padding-left: 72px;
  opacity: 0.9;
}

.footer-tag {
  width: 240px;
  padding-right: 44px;
  padding-left: 60px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
  padding-right: 126px;
  padding-left: 124px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 240px;
  padding-right: 29px;
  padding-left: 15px;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.html-academy-link {
  width: 115px;
  height: 41px;
}

.html-academy-link:hover path,
.html-academy-link:focus path {
  fill: #81b3d2;
}

.html-academy-link:active path {
  fill: #000000;
  opacity: 0.3;
}